{block content}

    <h6><a n:href="ClientList:default">Seznam klientů</a></h6>
    <h6><a n:href="IssuedInvoices:default">Seznam vydaných faktur</a></h6>
    <h6><a n:href="Registration:default">Registrace</a></h6>
    <h6><a n:href="Login:default">Přihlášení</a></h6>

    <h2>Faktura</h2>

    <a n:href="Client:default">Nový klient</a> nebo
    <a n:href="Preview:default">Náhled faktury</a>
<h4><a n:href="Print:default">Tisk faktury</a></h4>


{/block}
